@font-face {
  font-family: 'Pixeled';
  src: url('./Pixeled.ttf');
}

* { /* Put  the canvas up right next to everything else */
	margin: 0;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Pixeled', serif;
}

